<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Node.js Practice</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
  	<% include partials/nav.ejs %>
  	<p>Thanks for getting in touch.</p>
	<p>You contacted: <%= data.who %> in the <%= data.department %> department.</p>
	<p>We will reply to you at this email: <%= data.email %>. </p>

  </body>
</html>